@import "tailwindcss";

@theme {
  --color-primary: #0891b2;
  --color-primary-dark: #0e7490;
  --color-secondary: #6366f1;
  --color-accent: #f59e0b;
}

body {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}

.swiper-pagination-bullet-active {
  background: #0891b2 !important;
}
